// Базовые стили спойлеров
// Сниппет (HTML): spoller
.spollers {
	// .spollers__item
	&__item {
		padding: rem(25) 0;
		border-top: rem(1) solid #e5e5e5;

		&:last-child {
			border-bottom: rem(1) solid #e5e5e5;
		}
	}

	// .spollers__title
	&__title {
		width: 100%;
		cursor: default;
		text-align: left;
		position: relative;
		padding: rem(5) 0;
		font-weight: 600;
		font-size: rem(16);
		line-height: 130%;
		padding-right: rem(30);

		._spoller-init & {
			cursor: pointer;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: 8px;
				top: 50%;
				background-color: #c4c4c4;
				height: 2px;
				width: 9px;
				transition: transform 0.5s ease 0s;
			}
			&::before {
				transform: translate(-75%, -50%) rotate(40deg);
			}
			&::after {
				transform: translate(0, -50%) rotate(-40deg);
			}
			&._spoller-active {
				&::before {
					transform: translateX(-75%) rotate(-40deg);
				}
				&::after {
					transform: rotate(40deg);
				}
			}
		}
	}

	// .spollers__body
	&__body {
		padding-top: rem(10);
		max-width: rem(556);
		line-height: 160%;
	}
}
