.checkbox {
	position: relative;

	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;

		&:focus + .checkbox__label:before {
		}
		&:checked + .checkbox__label {
			&::after {
				opacity: 1;
			}
		}
	}

	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		position: relative;
		gap: 10px;

		&:before {
			content: "";
			align-self: center;
			flex: 0 0 rem(15);
			width: rem(15);
			height: rem(15);
			border: 1px solid #d9d9d9;
		}
		&::after {
			content: "";
			display: block;
			flex: 0 0 rem(10);
			width: rem(10);
			height: rem(7);
			position: absolute;
			left: rem(2.5);
			background: url(../img/icons/check-gray.svg) no-repeat center/contain;
			opacity: 0;
			transition: $transition ease opacity 0s;
		}
	}

	// .checkbox__text
	&__text {
	}
}
