//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.form__input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: rem(13) rem(30);
	border: 1px solid #898890;
	outline: none;
	font-size: rem(13);
	min-height: rem(48);

	&::placeholder {
		transition: $transition ease opacity 0s;
	}

	&:focus {
		&::placeholder {
			opacity: 0;
		}
	}
}

textarea.form__input {
	resize: none;
}
